body {
  background-color: white;
}

#login {
  background-color: rgb(255, 236, 95);
}

#root {
  margin: auto;
  margin-top: 10px;
}

#calculateDiv {
  text-align: center;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-auto-rows: auto;
  border: solid 1px white;
  object-fit: cover;
}

video {
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  object-fit: cover;
  padding: 20px 20px 0px 0px;
}
// used in auth
#headline {
  font-size: 90px;
  font-weight: 900;
}
// used in auth
#form-container {
  border-radius: 16px;
  background-color: white;
  padding: 32px 40px;
}
// used in auth
#form-title {
  font-size: 32px;
}
// used in auth
.input-wrapper {
  height: 48px;
  border-radius: 16px;
}
// used in auth
#form-btn {
  border-radius: 16px;
  height: 48px;
}
// used in auth
#logo-container {
  height: 128px;
  width: 256px;
  margin: 24px 0px 0px -80px;
}
// used in dashboard, auth
#app-logo {
  font-size: 32px;
}
// used in dashboard, auth
#app-name {
  font-size: 32px;
  font-weight: 900;
}
// used in auth
#align-form {
  width: 564px;
  margin-top: -48px;
}
// used in dashboard
#dropdown-icon {
  font-size: 32px;
  color: black;
}
// used in dashboard
#navbar {
  padding: 0px 32px 4px;
  border-bottom: 1px solid;
  background-color: rgb(255, 236, 95);
}
// used in dashboard
#left-pane {
  position: fixed;
}
// used in dashboard
#top-btn-group {
  margin-top: 128px;
}
// used in dashboard
#right-pane {
  padding: 12px;
}
// used in dashboard
#rooms-title {
  font-size: 28px;
  font-weight: 800;
}
.join-btn {
  border-radius: 12px;
}
#searchbar {
  border-radius: 12px;
  border: 1px solid;
  height: 42px;
  padding: 12px;
  font-size: 14px;
}

#rooms-container {
  // background-color: red;
}

.rooms {
  border: 1px solid lightgrey;
  border-radius: 16px;
  transition: box-shadow 0.3s;
}

.rooms:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.room-btn {
  border-radius: 12px;
}

.img-cap {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-height: 178px;
}

// used in class room
#top-bar {
  height: 10vh;
  padding: 12px;
  background-color: rgb(255, 236, 95);
}

.top-bar-border {
  border: 1px solid lightgray;
  border-radius: 12px;
}

#root {
  padding: 0px;
  margin: 0px;
}

#top-agenda-btn {
  border-radius: 12px;
}

#top-agenda-btn:hover {
  background-color: turquoise;
}

.side-bar {
  width: 55px;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

.side-icon {
  font-size: 21px;
}

.side-text {
  font-size: 12px;
}

.video-container {
  height: 90vh;
}

.cow-logo {
  object-fit: cover;
  width: auto;
  height: 60%;
  max-height: 52px;
}

.class-img {
  object-fit: cover;
  object-position: 0px -16px;
}

#dash-container {
  width: 100vw;
}
