body {
  background-color: pink;
}

#root {
  margin: auto;
  margin-top: 10px;
}

#calculateDiv {
  text-align: center;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
  border: solid 1px white;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#headline {
  font-size: 90px;
  font-weight: 900;
}

#form-container {
  border-radius: 16px;
  background-color: white;
  padding: 32px 40px;
  max-width: 564px;
}

#form-title {
  font-size: 32px;
}

.input-wrapper {
  height: 48px;
  border-radius: 16px;
}

#logo-container {
  height: 64px;
}
